/TableOfContentsPlugin_installer
/TableOfContentsPlugin_installer.pl
/TableOfContentsPlugin.md5
/TableOfContentsPlugin.sha1
/TableOfContentsPlugin.tgz
/TableOfContentsPlugin.txt
/TableOfContentsPlugin.zip
